* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: white;
}

.logo-back {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-top: 10px;
}

.logo-back img {
  width: 50px;
  height: auto;
  display: inline;
}

.logo-back p {
  display: inline;
  white-space: nowrap;
  padding-bottom: 10px;
}

.title {
  font-size: 25px;
  text-align: center;
  padding-bottom: 50px;
}

.start {
  font-size: 20px;
  text-align: center;
  padding-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.start h3 {
  margin-bottom: 15px;
}

.start img {
  margin-top: 20px;
  border-radius: 5px;
  width: 300px;
  height: auto;
  display: inline;
}

.present {
  font-size: 20px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.present img {
  border-radius: 5px;
  width: 400px;
  height: auto;
  display: inline;
}
